$color-pink: palevioletred;
$color-gray: gray;
$color-lightgray: lightgray;
$color-orange: orange;
$lines: 1px solid $color-lightgray;
$main-margin: 2rem;
$block-margin: 2rem 0rem 2rem 2rem;

body {
  margin: 0 auto;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.top {
  display: flex;
  justify-content: space-between;
  margin: $main-margin;

  .menu {
    color: $color-gray;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    i {
      font-size: 2rem;
    }
  }

  nav {
    display: none;
    a {
      text-decoration: none;
      color: $color-gray;
      margin: 0rem 1rem;
    }

    a:last-child {
      color: $color-pink;
    }
  }
}

.block1,
.block2 {
  display: flex;
  justify-content: space-between;
  margin: $block-margin;

  h4 {
    color: $color-pink;
  }
}

.block1 {
  .block1-text {
    width: 50%;

    h1 {
      font-weight: bold;
    }

    p {
      color: $color-gray;
    }

    .button {
      width: 10rem;
      text-align: center;
      border: double 2px transparent;
      border-radius: 80px;
      background-image: linear-gradient(white, white),
        radial-gradient(
          circle at top left,
          palevioletred,
          darkorange,
          yellowgreen
        );
      background-origin: border-box;
      background-clip: content-box, border-box;

      .sign {
        padding: 1rem 2rem;
      }

      a {
        text-decoration: none;
        color: black;
        font-weight: bold;
      }
    }
  }

  .block1-image {
    width: 60%;

    img {
      width: 100%;
      position: relative;
    }
  }
}

.gradient {
  background-image: linear-gradient(
    to right,
    palevioletred,
    darkorange,
    yellowgreen
  );
  padding: 0rem 1rem;
  padding-top: 4rem;
  padding-bottom: 1rem;

  h1 {
    font-weight: 400;
  }
}

.companies {
  display: grid;
  gap: 1rem;

  .comp4 {
    display: none;
  }

  .comp2 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

.nft-text {
  margin: $main-margin;

  p,
  a {
    color: $color-gray;
  }
}

.nfts {
  margin: $main-margin;
  display: inline-flex;
  width: 100%;

  .card1,
  .card2,
  .card3,
  .card4 {
    border-radius: 5rem;
    margin: 0.5rem;
    min-width: 200px;

    .top-pic {
      width: 100%;
    }
    .container {
      background-color: $color-lightgray;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      padding: 0 0.5rem;
      font-size: 90%;
      display: grid;
      gap: 0.5rem;

      .left {
        display: grid;
        align-items: center;

        h6 {
          color: $color-orange;
        }
        p {
          color: $color-gray;
          grid-row-start: 3;
          grid-row-end: 4;
        }
      }

      .right {
        text-align: right;
        display: grid;
        align-items: center;
        grid-column-start: 2;
        grid-column-end: 3;

        h6 {
          color: $color-gray;
        }
        p {
          color: $color-gray;
          grid-row-start: 3;
          grid-row-end: 4;
        }
      }

      .price {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 1.5rem;

        img {
          width: 10%;
        }

        h6 {
          margin: 0;
        }
      }
    }
  }

  .card1 {
    margin-left: 0;
  }

  .card4 {
    margin-right: 0;
  }
}

.block2 {
  border-top: $lines;
  border-bottom: $lines;

  h1 {
    font-weight: bold;
  }

  p {
    color: $color-gray;
  }

  .button {
    width: 10rem;
    text-align: center;
    border: double 2px transparent;
    border-radius: 80px;
    background-image: linear-gradient(white, white),
      radial-gradient(
        circle at top left,
        palevioletred,
        darkorange,
        yellowgreen
      );
    background-origin: border-box;
    background-clip: content-box, border-box;

    .sign {
      padding: 1rem 2rem;
    }

    a {
      text-decoration: none;
      color: black;
      font-weight: bold;
    }
  }
}

.bottom {
  margin: $main-margin;
  .logo-bottom {
    p {
      color: $color-gray;
    }
    .socials {
      margin-bottom: 1rem;
      a {
        text-decoration: none;
        color: $color-gray;
        margin: 0.5rem;
      }

      a:first-child {
        margin-left: 0;
      }
    }
  }

  .info {
    display: grid;

    .nft {
      grid-column-start: 2;
      grid-column-end: 3;
    }

    .about,
    .nft,
    .contact,
    .media {
      display: flex;
      flex-direction: column;
      color: $color-gray;
      margin-right: 3rem;

      a {
        text-decoration: none;
        color: $color-gray;
        margin-bottom: 0.8rem;
      }
    }
  }
}

.copyright {
  margin: $main-margin;
  margin-bottom: 4rem;
  .copy-left {
    color: $color-lightgray;
  }

  .copy-right {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .top {
    i {
      display: none;
    }

    nav {
      display: flex;
      justify-content: space-evenly;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .gradient {
    border-radius: 10px;
    padding: 2rem;
    padding-top: 4rem;
    width: 90%;
    margin: $main-margin;
  }

  .companies {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  .comp4 {
    display: block !important;
  }

  .comp1,
  .comp2,
  .comp3,
  .comp4,
  .comp5 {
    width: 16%;
  }

  .nft-text {
    display: inline-flex;
    flex-direction: column;
    align-self: flex-start;
    margin: $main-margin;
  }

  .nfts {
    margin: $main-margin;
    display: inline-flex;
    justify-content: space-evenly;
  }

  .block2 {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 94%;

    .block2-text {
      width: 40%;
      padding: 4rem 4rem 0 0;
    }

    .block2-image {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: 60%;

      .pic {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }

      img {
        height: 80%;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;

    .info {
      display: flex;
      justify-content: space-evenly;
    }
  }

  .copy-right {
    display: block !important;
    color: $color-lightgray;
  }

  .copyright {
    display: flex;
    justify-content: space-between;
  }
}
